<div class="landing-view__bg">
    <div class="landing-view__intro">
        <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ligula elit, ullamcorper sit amet mattis sit
            amet,
            tempus vitae lectus. Phasellus blandit mauris id dapibus efficitur. Pellentesque ullamcorper, erat eu
            fringill
        </h1>
        <a routerLink="/dashboard" routerLinkActive="active">
            <button class="landing-view__intro__explore-btn" mat-raised-button color="primary">Explore</button>
        </a>

    </div>
</div>