.custom-div {
  padding: 4.5rem 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../../assets/bg/fb.jpg") no-repeat 100% 100%;
  background-size: cover;
  min-height: 300px;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 700;
}
